<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Album:</strong>
  <%= @song.album_id %>
</p>

<p>
  <strong>Song url:</strong>
  <%= @song.song_url %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
